body{
    background-color: turquoise;

}
.registrationForm{
    position: absolute;
    background-color: darkviolet;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
   
}

h1 {
    margin-left: 30px;
    }
    form li {
    list-style: none;
    margin-bottom: 5px;
    }
    
    form ul li label{
    float: left;
    clear: left;
    width: 100px;
    margin-left: -40px;
    text-align: center;
    margin-right: 10px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:small;
    }
    
    form ul li input, select, span {
    float: left;
    margin-bottom: 10px;
    }
    
    form textarea {
    float: left;
    width: 350px;
    height: 150px;
    }
    
    [type="submit"] {
    clear: left;
    margin-left: 125px;
    font-size:18px;
    margin-bottom: 15px;
    }
    
    p {
    margin-left: 70px;
    font-weight: bold;
    }
    